
body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to top, #87ceeb 60%, #b0e0e6 100%); 
  }
  
  h1 {
    font-size: 2rem;
    color: #145368;
    margin: 20px 0;
  }
  
  
  .fading-text {
    font-size: 1.5rem;
    color: #024449;
    font-weight: bold;
    margin-bottom: 200px; 
    animation: fade 3s infinite;
  }
  
  @keyframes fade {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
  
  
  .basketball {
    width: 60px;
    height: 60px;
    background-color: #f76c00;
    border: 3px solid #d35400;
    border-radius: 50%;
    position: absolute;
    bottom: 50px; 
    animation: bounce 1.5s infinite ease-in-out;
  }
  
  
  .basketball::before,
  .basketball::after {
    content: '';
    position: absolute;
    background-color: #0c0c0b;
    border-radius: 50%;
  }
  
  .basketball::before {
    width: 6px;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .basketball::after {
    width: 100%;
    height: 6px;
    top: 50%;
    transform: translateY(-50%);
  }
  
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0); 
    }
    50% {
      transform: translateY(-150px); 
    }
  }
  
  
  body::after {
    content: '';
    width: 100%;
    height: 50px;
    background-color: #228b22; 
    position: absolute;
    bottom: 0;
    left: 0;
  }
  
